@charset "utf-8";
/* CSS Document */

#principal { width:100%; position:absolute; left:0; top:0; background-color:#FFF}

#pantalla { width:100%; height:25%;  background-color:#90C; float:left;} 

#teclado { width:100%; height:75%; background-color:#C3F; float:left}

.nota { float:left; height:90%; position:relative; outline:#009 solid 1px; width:14.28571425571429%; background-color:#c9c9c9;}

.textonota { position:relative; top:80%; text-align:center; font-size:2em; font-weight:bold; font:range; background-color:#66F; width:90%; margin-left:5%}

.tocada { color:#60F; background:#F3F; outline:1px solid #0CF}