@charset "utf-8";
/* CSS Document */

#principal { width:100%; position:absolute; left:0; top:0; background-color:#FFF}

#pantalla { width:100%; height:25%;  background-color:#90C; float:left;} 

#teclado { width:100%; height:75%; background-color:#C3F; float:left}

.nota { float:left; height:90%; position:relative; outline:#009 solid 1px; width:14.28571425571429%; background-color:#c9c9c9;}

#imagen { width:90%; background-color:#000; margin-left:5%; height:20%; position:relative; top:70%;} 

.textonota { position:relative; top:70%; text-align:center; font-size:2em; font-weight:bold; font:range; background-color:#CCF; width:90%; margin-left:5%}

.tocada { color:#60F; background:#F3F; outline:1px solid #0CF}

#do { background-color:#F09}
#re { background-color:#F0F}
#mi { background-color:#3CF}
#fa { background-color:#6F0}
#sol { background-color:#FF3}
#la { background-color:#F93}
#si { background-color:#60C}